*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.full{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.90),rgba(0, 0, 0, 0.80)), url(img/IMG_E8570.JPG);
    background-position: center;
background-size: cover;
overflow: hidden;
   }
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bolder;
}
a:hover{
    color: orange;
}
header {
    position: relative;
    padding: 0 2rem;
    }

     .navbar {
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;

     }
     .navbar .logo a {
        font-size: 1.5rem;
        font-weight: bold;
     }

     .navbar .links {
        display: flex;
        gap: 2rem;
     }
     .navbar .toggle_btn{
        color: aliceblue;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;

     }

     .action_btn{
      background-color:white;
      color: white;
      padding: 0.5rem 1rem;
      border: 3px solid white;
      outline: none;
      border-radius: 20px;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
      transition: scale 0.2 ease;
      background: transparent;
   }
     
     .action_btn:active{
        scale: 0.95;
     }
     .dropdown_menu{
        display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        height: 0;
        width: 300px;
        background: black;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     }

     .dropdown_menu.open{
      height: 240px;
     }

     .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .dropdown_menu .action_btn {
        width: 100%;
        display: flex;
        justify-content: center;
     }
     @media (max-width: 992px) {
        .navbar .links,
        .navbar .action_btn {
            display: none;
        }

        .navbar .toggle_btn {
            display: block;
        }
         
        .dropdown_menu {
            display: block;
        }
     }

     @media (max-width: 576px) {
      .dropdown_menu{
         left: 5rem;
         width: unset;
      }
     }

     .main{
      width: 100%;
      display: flex;
     }
     .content{
      width: 100%;
      margin-top: 15%;
      margin-left: 5%;
      color: aliceblue;
      overflow: hidden;
     }
     .content h1{
font-size: 4rem;
letter-spacing: 5px;
line-height: 90px;
font-family: sans-serif;
     }
     .content h4{
      font-size: 1.5rem;
      font-weight: bolder;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-bottom: 10px;
     }
     span{
      color: orange;
     }
     .content h5{
      font-size: 1rem;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
      margin-bottom: 10px;
     }
     button{
      padding: 10px;
      border-radius: 7px;
      font-weight: bolder;
      background: transparent;
      color: aliceblue;
     }
     button:hover{
      background-color: red;
     }
     .image{
      margin-top: 160px;
      border-radius: 20px;
     }
     img{
      width: 700px;
      border-radius: 50px;
      margin-right: 30px;
     }
     @media screen and (max-width: 1020px) {
      .content{
      margin-top: 130px;
         text-align: center;
      }
     .content h1{
         font-size: 3rem;
      }
      .content h4{
         font-size: 1rem;
      }
      .image{
         flex-wrap: wrap;
      }
      img{
         width: 600px;
         margin-top: 50px;
      }
     }
     @media  screen and (max-width: 988px) {
      .image{
position: absolute;
bottom: 20px;
display: flex;
justify-content: center;
      }
      img{
         width: 500px;
      }
     .image{
      margin-left: 200px;
     }
      .content h1{
font-size: 4rem;
      }
      .content h4{
font-size: 2rem;
      }
      .content h5{
         font-size: 1rem;
      }
     }
     @media screen and (max-width: 825px) {
      .image{
         margin-left: 90px;
      }
      .content h1{
         font-size: 3rem;
         
      }
      .content h4{
         font-size: 1rem;
      }
     }
     @media screen and (max-width: 620px) {
      .image{
         margin-left: 70px;
         margin-bottom: 30px;
      }
      img{
         width: 400px;
      }
     }
     @media screen and (max-width: 502px) {
      .image{
         margin-left:30px ;
         margin-bottom: 20px;
      }

     }
     @media screen and (max-width: 461px) {
      .image{
         margin-left:1px ;
         margin-bottom: 50px;
      }
      img{
         width: 290px;
      }
     
     }
     @media screen and (max-width: 320px) {
      img{
         width: 250px;
      }
      .content h1{
         font-size: 2rem;
      }
      .content h4{
         font-size: 0.9rem;
      }
      .content h5{
         font-size: 0.8rem;
      }
     }
     @media screen and (max-width: 281px) {
      img{
         width: 200px;
      }
      .image{
         margin-left: 7px;
         margin-bottom: 70px;
      }
     }
     @media screen and (max-width: 237px) {
      img{
         width: 170px;
      }
     }
     @media screen and (max-width: 208px) {
      img{
         width: 160px;
      }
     }
     @media screen and (max-width: 196px) {
      img{
         width: 130px;
      }
      .content h1{
         font-size: 1.8rem;
      }
      .image{
         margin-left: 7px;
         margin-top:100px ;
      }
     }
     @media screen and (max-width: 166px) {
      img{
         width: 110px;
      }
      .content h1{
         font-size: 1.5rem;
      }
      .image{
         margin-bottom:150px ;
      }
     }

     .about h1{
      font-weight: bolder;
      font-size: 3rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      margin-top: 0px;
      color: aliceblue;
      
     }
      .ptag{
      color: aliceblue;
      text-align: center;
    font-weight: bolder;
     margin-bottom: 20px;
     margin-top: 20px;
     }
     .body{
      display: flex;
      font-weight: bolder;
      flex-wrap: wrap;
     }
     .body h2{
      font-size: 4rem;
      color: aqua;
     }
     .body i{
      font-size: 4rem;
      color: aqua;
     }
     .head{
      display: flex;
      justify-content: space-around;
     margin-top: 150px;
      margin-bottom: 30px;
     color: aliceblue;
     flex-wrap: wrap;
     }
    section{
      background: #101010;
      width: 100%;
      height: 110vh;
    }
    table, th, td {
      border-bottom:1px solid white;
      border-collapse: collapse;
    }
    table{
      width: 110%;
      text-align: center;
      border: 1px solid white;
      margin-left: 5px;
      margin-top: 20px;
    }
   table th{
   padding: 40px 40px;
   font-size: 2rem;
   font-weight: bolder;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: aliceblue;
    }
    .engine{
      font-size: 1rem;
       }
       table td{
         font-weight: bolder;
         padding: 5px;
         color: aliceblue;
          }
          form{
            display: flex;
              background: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)), url(img/IMG_E8570.JPG);
              width: 100%;
              height: 110vh;
              background-position: center;
              
          }
          
          .imm{
            margin-top: 10px;
         
             }
          .imm img{
            width: 700px;
            margin-left: 70px;
          }
          table td:hover{
background-color: red;
          }
         @media screen and (max-width: 1029px) {
            .imm img{
               width: 500px;
               margin-top: 70px;
            }
         }
         @media screen and (max-width: 987px) {
            form{
               flex-wrap: wrap;
               justify-content: center;
            }
            .imm img{
               width: 400px;
               }
               i{
                  font-size: 3rem;
               }
              .about h2{
                  font-size: 3rem;
               }
              
         }
         @media screen  and (max-width: 586px) {
            table{
               width:100px;
            }
            .imm img{
               width:300px ;
               margin-right: 30px;
            }
         }
         @media screen and (max-width: 424px) {
            .imm{
               margin-right: 70px;
            }
          table th{
              padding: 20px; 
              font-size: 2rem;
            }
         }
         @media screen and (max-width: 346px) {
            .imm img{
               width:250px ;
               margin-right: 70px;
            }
         } 
         @media screen and (max-width: 338px) {
            .imm img{
               width:250px ;
               margin-right: 50px;
            }
            
         }
         @media screen and (max-width: 516px) {
            .body{
               margin-bottom: 15px;
            }
         }
         @media screen and (max-width: 392px) {
            .head{
               margin-top: px;
            }
         }
         .card2 img{
width: 150px;
border-radius: 10px;
margin-left: 20px;
clip-path: circle();
margin-top: 5px;
         }
         .card1{
            margin-top: 50px;
            margin-left:50px ;
            display: flex;
            width: 90%;
            height: 80vh;
            justify-content:space-around;
            flex-wrap: wrap;
         }
           .iconss{
            display: flex;
            font-size: 1rem;
            justify-content: center;
            
         }
         .card2{
            border: 1px solid black;
            width: 200px;
            height: 300px;
            border-radius: 10px;
            margin-left: 35px;
            box-shadow: 10px 10px 10px black;
            background-color: #101010ba;
            flex-wrap: wrap;
         }
         .card2 h6{
            font-weight: bolder;
            font-size: 1.4rem;
            text-align: center;
            color: aliceblue;
         }
         .card2 p{
            font-size: 13px;
            margin-top: 10px;
            font-weight: bolder;
            margin-bottom: 10px;
            color: aliceblue;
            text-align: center;
         }
         @media screen and (max-width: 988px) {
            .card2 i{
               font-size: 1rem;
            }
            .card2{
               margin-bottom:20px ;
               justify-content: center;
            }
         }
         @media screen  and (max-width: 1029px) {
            .card2{
               margin-bottom:20px ;
               justify-content: space-around;
            }
            .card1 i{
               font-size: 1rem;
            }
         }
         @media screen and (max-width: 831px) {
            .about .body{
               margin-bottom: 20px;
            }
         }
         @media screen and (max-width: 668px) {
            .about .body{
               margin-bottom: 20px;
            }
         }
         @media screen and (max-width: 540px) {
           .body{
               margin-bottom: 20px;
            }
            .imm img{
               margin-bottom: 90px;
            }
            .card1 {
               justify-content: center;
               text-align: center;
               align-items: center;
            }
         }
@media screen and (max-width: 502px) {
   .card1{
     margin-left: 10px;
   }
}
@media screen and (max-width: 339px) {
   .card1{
     margin-left: 5px;
   }
}